<html>
<head>
    <title>Add</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <h1>Criar anuncio</h1>
    </div>
    <div class="content">
        <h2>Dados do veiculo</h2>
        <form method="post">

           <input type="text" name="name_car" placeholder="Preencha o nome do veiculo"/>
           <input type="date" name="year_car" placeholder="Preencha o ano do veiculo"/>
           <input type="text" name="state_car" placeholder="Preencha o estado do veiculo"/>
           <input type="number" name="value_car" placeholder="Preencha o valor"/>
           <input type="number" name="mileage_car" placeholder="Preencha a kilometragem do veiculo"/>
           <select name="languages" id="lang">
            <option value="javascript">HB20</option>
            <option value="php">Fusca</option>
           </select>
           <textarea></textarea>
           
        </form>
    </div>
</body>
</html>