<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <h1>Home</h1>
    </div>
    <div class="content">
        <form method="post">
            <input type="text" name="name" placeholder="Your name">
            <input type="text" name="email" placeholder="Your email">
            <input type="text" name="password1" placeholder="Your password">
            <input type="text" name="password2" placeholder="Repeat your password">
            <button type="submit">Search</button>
    </div>
</body>
</html>