<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="header">
        <h1>Cadastrar usuário</h1>
    </div>
    <div class="content">
        <form method="post">
            <input type="text" name="name" placeholder="Nome do usuário">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password1" placeholder="Senha">
            <input type="password" name="password2" placeholder="Confirmar senha">
            <input type="text" name="cpf_cnpj" placeholder="Documento CPF ou CNPJ">
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
