<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>Adicionar produto</title>
</head>
<body>
    <div class="header">
        <h1>Adicionar carro</h1>
    </div>
    <div class="content">
        <form method="post">
            <input type="text" name="name" placeholder="Nome do carro">
            <input type="text" name="value" placeholder="Valor do carro">
            <input type="text" name="description" placeholder="Descrição">
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>